.btn{
    -fx-background-color: #1A1E23;
    -fx-background-radius: 2px;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #e7e1e1;
    -fx-border-color: #3f464c;
    -fx-border-radius: 2px;
}

.btn:hover{
    -fx-background-color: transparent;
}

.btn:focused{
    -fx-background-color: #040507;
}

.txtField{
    -fx-background-radius: 15px;
    -fx-padding: 4 0 4 13;
}