.btn {
    -fx-background-color: #1A1E23;
    -fx-background-radius: 2px;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #e7e1e1;
    -fx-border-color: #3f464c;
    -fx-border-radius: 2px;
    -fx-cursor: hand !important;
}

/*.jfx-button .jfx-rippler {*/
/*    -jfx-rippler-fill: #930033;*/
/*}*/

.btn:hover{
    -fx-background-color: transparent;
    -fx-border-color: #ffce00; /* #fab107 */
}

.btn:focused{
    -fx-background-color: transparent;
    -fx-border-color: #930033;
}

.txtField{
    -fx-background-radius: 15px;
    -fx-padding: 4 0 4 13;
}

.jfx-text-field, .jfx-password-field {
    -fx-prompt-text-fill: white;
    -fx-text-inner-color: white;
}
