.dialog-button {
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-background-color: #e7e6e6;
    -fx-border-color: transparent;
    -fx-border-radius: 2px;
}

.dialog-button:hover {
    -fx-background-color: #dbdada;
    -fx-border-color: grey;
    -fx-border-radius: 2px;
}

.jfx-button .jfx-rippler {
    -jfx-rippler-fill: white;
}

