/*.jfx-slider > .track {*/
/*    -fx-background-color: #930033;*/
/*}*/

/*.jfx-slider > .thumb {*/
/*    -fx-background-color: #ffce00;*/
/*}*/
/*.jfx-slider > .colored-track {*/
/*    -fx-background-color: linear-gradient(to right, #fab107, #ffce00);*/
/*}*/

/*.jfx-slider .animated-thumb{*/
/*    -fx-background-color: #fab107;*/
/*    !*visibility: false;*!*/
/*    !*-fx-pref-height: 40;*!*/
/*    !*-fx-pref-width: 50;*!*/
/*    !*-fx-background-color: #0F9D58;*!*/
/*    !*-fx-background-radius: 50% 50% 50% 50%;*!*/
/*}*/

.root {
    -fx-custom-color : #E6003CFF;
}

.jfx-slider>.track {
    -fx-background-color: #101a37;
    -fx-pref-height: 8;
}

.jfx-slider>.thumb {
    -fx-background-color: -fx-custom-color;
}

.jfx-slider>.colored-track {
    -fx-background-color: linear-gradient(to right, #FAA600FF, -fx-custom-color);
    -fx-background-radius: 10px 0px 0px 10px;
}

.animated-thumb {
    /*-fx-text-fill: #101a37 !important;*/
}

.jfx-slider>.animated-thumb {
    -fx-background-color: -fx-custom-color;
}
