.root {
    -fx-custom-color : #E6003CFF;
}

.jfx-slider>.track {
    -fx-background-color: #101a37;
    -fx-pref-height: 8;
}

.jfx-slider>.thumb {
    -fx-background-color: -fx-custom-color;
}

.jfx-slider>.colored-track {
    -fx-background-color: linear-gradient(to right, #FAA600FF, -fx-custom-color);
    -fx-background-radius: 10px 0px 0px 10px;
}

.animated-thumb {
    /*-fx-text-fill: #101a37 !important;*/
}

.jfx-slider>.animated-thumb {
    -fx-text-fill: black;
    -fx-background-color: -fx-custom-color;
}
